body {
  margin: 4px 8px;
  padding: 0;
  font-family: "Montserrat", "Roboto", sans-serif;
  background: no-repeat url('../images/header-background.png');
  background-color: #CCE6CF;
}

h1 {
  font-family: "Gilroy", "Roboto", sans-serif;
  font-weight: bold;
}

.temperature-reading-container {
  background-color: #f7f7f7;
}

.navbar-brand {
  color: darkslategrey;
}
.navbar-brand img {
  display: inline;
  margin-right: 12px;
}

.container {
  margin: 50px 12px;
}

.page-header {
  background: #337ab7;
  width: 100%;
  margin: 0 0;
  padding: 12px 16px;
}

.page-header img.logo {
  margin-right: 12px;
}
