body {
  margin: 4px 8px;
  padding: 0;
  font-family: "Montserrat", "Roboto", sans-serif;
  background-color: #EFEFF4;
}

h1 {
  font-family: "Gilroy", "Roboto", sans-serif;
  font-weight: bold;
}

.temperature-reading-container {
  background-color: white;
}

.navbar-brand {
  color: #EFEFF4;
}
.navbar-brand img {
  display: inline;
  margin-right: 12px;
}

.top-bar {
  position: absolute;
  background-color: #0377AF;
  height: 150px;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.9);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.9);
}

.container {
  margin: 50px 12px;
}

.page-header {
  background: #337ab7;
  width: 100%;
  margin: 0 0;
  padding: 12px 16px;
}

.page-header img.logo {
  margin-right: 12px;
}

.chart-controls {
  margin-top: 20px;
}

.chart-controls button {
  width: 60px;
  margin-left: 8px;
}
