.temperature-reading-left {
    float: left;
    margin-right: 30px;
}

.temperature-reading-left img {
    height: 72px;
}

.temperature-reading-container {
    height: 80px;
    padding: 4px;
    background: rgba(255,255,255,0.8);
    border-radius: 10px;
    margin-bottom: 4px;
}

.clear {
    float: none;
}